---
import PageLayout from '~/layouts/PageLayout.astro'
import { sanity } from '~/lib/sanity'
import { renderPortableText } from '~/lib/renderPortableText'

export async function getStaticPaths() {
  const slugs = await sanity.fetch(`*[_type == "post" && defined(slug.current)][]{
    "params": { "slug": slug.current }
  }`)
  return slugs
}

const { slug } = Astro.params

const post = await sanity.fetch(`*[_type == "post" && slug.current == $slug][0] {
  title,
  publishedAt,
  excerpt,
  mainImage {
    asset->{
      url
    }
  },
  body
}`, { slug })

const htmlBody = renderPortableText(post.body)
---

<PageLayout title={post.title}>
  <article class="prose lg:prose-xl max-w-4xl mx-auto py-12">
    <h1>{post.title}</h1>
    <p><em>{new Date(post.publishedAt).toLocaleDateString()}</em></p>
    {post.mainImage?.asset?.url && (
      <img src={post.mainImage.asset.url} alt={post.title} class="my-6 rounded" />
    )}
    <div set:html={htmlBody} />
  </article>
</PageLayout>
